@import "../../index";
.select_profile_picture {
  display: none;
}

.label_profile_picture {
  width: 100%;
  height: $input_Button_Height;
  border: 2px solid white;
  background-color: white;
  border-radius: $input_Button_Border_Radius;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $input_Font_Size;
  color: $genericBlueColor;
  white-space: nowrap;

  &::placeholder {
    color: $genericBlueColor;
    padding-left: 12px;
  }
  &:hover,
  &:focus {
    transition: all 0.5s ease-in-out;
    outline: 3.5px solid $genericBlueColor;
  }
}
