
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

$genericBlueColor:rgb(12, 69, 125);
$buttonHoverColor:rgb(38 98 157);
$input_Button_Height:40px;
$input_Button_Border_Radius:50px;
$fontColor:white;
$genericBackgroundColor:black;
$input_Font_Size:16px;



body{
color:var($fontColor);
font-family: "Nunito","sans-serif";
background: rgb(40, 40, 40);
overflow-y: hidden;
}




/* All users */
.all-users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.single-user {
  background: rgb(0, 213, 255);
 
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 10px;
  margin-right: 0.5rem;
  position: relative;
}

/* User Card */
.user-card {
 
  position: relative;
 
  border-bottom: 2px solid rgb(100, 100, 100);
  /* width: 380px; */
}

.user-card .text-content {
  width: 170px;
}

.user-card .name {
  font-weight: 700;
}

.user-card .text,
.user-card .date {
  font-size: 14px;
  color: rgb(180, 180, 180);
}

.user-online {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 2;
}



/* ---Navbar */

.underline{
  position: relative;
  display: inline-block;
}
.underline::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2.5px;
  background-color: white;
  border-radius: 50px;
  
}
.add-hover {
  position: relative;
  display: inline-block;
}

.add-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2.5px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
  border-radius: 50px;
  
}

.add-hover:hover::after,.add-hover:focus::after {
  transform: scaleX(1);
}


.submit-button{
  border-radius: 50px;
  height: 40px;
    background-color: rgb(12, 69, 125);
    border: unset;
}
.submit-button:hover{
  background-color: rgb(38 98 157);
}

/* ------ */

