@import '../../index';

.custom-input{
    border-radius: $input_Button_Border_Radius;
    padding: 0.4rem;
    width: 100%;
    border: unset;
    outline: unset;
    height:$input_Button_Height;
     padding-left: 12px;
    font-size: $input_Font_Size;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    // Pink color #ff0083
    &::placeholder{
        color: $genericBlueColor;
        padding-left: 12px;
    }
    &:hover,&:focus{
       padding-left: 30px;
       transition: all 0.5s ease-in-out;
       outline: 3.5px solid $genericBlueColor;
       
    } 
   
  
}

