.loading-body {
  height: 100vh !important;
  width: 100vw !important;
  background-color: black;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Oswald, sans-serif;
  font-size: 8em;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.word{
    width: 100vw;
    text-align: center;
}

.loading .char {
  animation: jump 2.8s linear infinite;
  animation-delay: calc(1s + (var(--char-index) + 1) * 0.4s);
  animation-timing-function: ease-in-out;
  transform-origin: 50% 100%;
}

.char{
    font-size: 140px;

    @media screen and (max-width:1300px) and (min-width:1100px) {
        font-size: 120px;
    }
    @media screen and (max-width:1100px) and (min-width:1000px) {
        font-size: 110px;
    }
    @media screen and (max-width:1000px) and (min-width:850px) {
        font-size: 100px;
    }
    @media screen and (max-width:850px) and (min-width:750px) {
        font-size: 95px;
    }
    @media screen and (max-width:750px) and (min-width:650px) {
        font-size: 85px;
    }
    @media screen and (max-width:650px) and (min-width:550px) {
        font-size: 80px;
    }
    @media screen and (max-width:550px) and (min-width: 350px)  {
        font-size: 60px;
    }
    @media screen and (max-width:350px)  {
        font-size: 50px;
    }
}

@keyframes jump {
  5% {
    transform: scale(1.2, 0.8);
  }
  12%,
  13% {
    transform: translateY(-1em) scale(1, 1.001);
  }
  17% {
    transform: translateY(0) scale(1, 0.999);
  }
  22% {
    transform: translateY(0) scale(1.2, 0.9);
  }
  23% {
    transform: translateY(-1px) scale(1.1, 1);
  }
  25% {
    transform: translateY(0) scale(1, 1);
  }
}

.dwf {
  position: absolute;
  bottom: 4px;
  right: 10px;
}
