@import "../../index.scss";


$img_height:50px;
$img_width:50px;
$z_index:4;

.content-center{
    justify-content: center !important;
}

.right-margin-unset{
    margin-right: unset !important;
}
.navbar_main{
    height: 3.4rem;
    padding: 0 4%;
    background-color: $genericBlueColor;

    .modal_nav{
        
        cursor: pointer;
        color: $fontColor;
    }
    .added-flex{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &_container{
        gap: 2rem;
        justify-content: flex-start !important;
        margin-left: 1%;

        @media screen and (max-width: 500px)
        {
            gap: 1rem;
        }

    }

    .user_img{
        height: $img_height;
        width: $img_width;
        border-radius: 50%;
        cursor: pointer;
        z-index:$z_index;

    }
    .fa-arrow{
        position: absolute;
        left: 10px;
        top: 20px;
        cursor: pointer;
    }

   

    .recipient {
        display: flex;
        margin-right: 21%;
        gap: 1.2rem; 
        align-items: center;
        color: $fontColor;
        // position: relative;
    
        // Target the first child span
        // span:first-child {
        //     color: $fontColor;
        // }

        img{
            height: $img_height;
            width: $img_width;
            border-radius: 50%;
            cursor: pointer;
            
        }
    }
    
}